# python
__pycache__/

# dataset
data/
quarantine/

# Virtual env
classification-gpu/

# Saved Models
models/

# Generated results
results/data_check_results/
results/ResNet_csv
results/EfficientNet_csv
results/model_comparison.csv